fastapi
langchain
langchain-community
langchain-huggingface
langchain-core
sentence-transformers
faiss-cpu
pypdf2
python-docx
pydantic[email]
python-multipart
transformers
torch
python-multipart
gunicorn
uvicorn